h1{
    color: blueviolet;
    /* background-color: burlywood; */
    text-align: center;
    /* text-decoration-line:overline; */
    /* text-decoration-line: underline; */
    /* text-decoration-line:line-through ; */
    /* text-decoration-color: cadetblue; */
    /* text-decoration-style:dashed ; */
    /* text-decoration-thickness: 20px; */
    text-decoration: underline green dashed 5px;
    text-transform: capitalize;
}

p{
    /* text-align: center; */
    text-align: justify;
    border: 2px dotted red;
    
}