* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.subheading {
  border: 10px solid blue;
  padding: 20px;
}

.container {
  text-align: left;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crypto-card {
  min-width: 400px;
}

.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

p{
  margin-top: 20px;
}