.news-card {
    padding: 20px;
    border: 2px solid #666;
}

img {
    width: 100%;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

p {
    color: #333;
}

/* style={{display: 'grid', gridTemplateColumns:'repeat(3,30%)', justifyContent:'space-between', rowGap:'20px'}} */